@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Carattere&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #33275e, #183346);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #312753, #152e3f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar_bg{
  background: #1a394e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f1b66, #133146);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #332c4d, #223c4d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.color{
  color: rgb(61, 93, 163);
}

